* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header {
    background-color:rgb(255, 229, 80);
    display: flex;
    justify-content: center;
    padding: 30px;
}
input, select{
    margin: 15px;
    padding: 5px;
}